{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
{% include 'navbar.html' %}

<div class="container-fluid" id="profile">
    <div class="row" id="top">
        <div class="col-sm-1 col-md-2" style="margin-top: 7%;">
            <p>FOLLOWING</p>
            <p>{{followingcount}}</p>
        </div>
        <div class="col-sm-1 col-md-2" style="margin-top: 7%;">
            <p>FOLLOWERS</p>
            <p>{{followercount}}</p>
        </div>
        <div class="col-sm-2 col-md-4">
            {% if user.profile.profile_pic.url %}
            <img src="{{user.profile.profile_pic.url}}" alt="" id="profilepic" class="img-fluid" style="width: 150px; height: 150px; border-radius: 50%;">
            {% else %}
            <form  action="{%url 'profile' %}" method="post" enctype="multipart/form-data" style="margin-top:10%;">
                {% csrf_token %}
            
                {% bootstrap_form form layout='inline'%}
                <input type="submit" class="btn-lg btn-outline-info" value="Add Profile">
            </form>
            {% endif %}
            <h3 style="margin-top:7%;letter-spacing:5px;font:bold;font-size: 50px;">@{{user.username}}</h3>
            <p class="text-large">{{user.profile.bio}}</p>
        </div>
        <div class="col-sm-1 col-md-2" style="margin-top: 7%;">
            <a  style="font-size: 12px;" href="{%url 'timeline' %}"> My posts</a>
        </div>
    </div>
    
    <div class="row" >
            <div class="col-md-4">
                    <form  action="{%url 'profile' %}" method="post" enctype="multipart/form-data" style="margin-top:10%;color: white;">
                        {% csrf_token %}
                    
                        {% bootstrap_form form1 layout='inline'%}
                        <input type="submit" class="btn-lg btn-outline-info" value="New Post">
                    </form>
            </div>
            <div class="col-md-8" style="display: flex;">
            {% for post in posts %}
                {% if user.profile.id == post.profile.id %}  
                <div >
                    <p style="padding-left: 20px;">{{post.caption}}</p>
                    <img src="{{post.pic.url}}" alt="" id="post" class="img-fluid" style="width: 150px; height: 150px;padding-left: 20px;">
                    <!-- <p style="padding-left: 20px;">{{post.like}}</p> -->
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
</div>
{% endblock %}