{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
{% include 'navbar.html' %}
<div class="container" style="margin-left: 50px; margin-top: 50px;">
   <div class="row" >
        {%for user in users%}
        {% for post in posts %}
            <div class="col-md-4 ">
                <h4 style="margin-top:15%;font:bold;font-size:20px;">@{{user.username}}</h4>
                <div class="card" style="width: 30rem;">
                    <img src="{{post.pic.url}}" class="card-img-top" alt="amage">
                    <div class="card-body">
                        <h4><i class="fa fa-check-circle"></i> {{post.caption}}</h4>
                        <form action="{%url 'timeline' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                
                                 <input type="hidden" name="posted" value="{{post.id}}">
                                 <input type="hidden" name="user" value="{{user.username}}">
                                 <input style="margin-left: 10px; height:40px;background:transparent;border-radius:1%;border:solid 1px #007991;margin-bottom: 1%;width:70%;"id="comment" type="text" name="comment" value="{{comment}}">
                                 <input type="submit" class="btn btn-outline-info" value="comment" style=" height: 40px; margin-left:5px;margin-top:0px;">
                            </div>
                            <div class="row " style="margin-left: 10px;" >
                            {% for comment in comments %}
                            {% if comment.post == post.id %}
                                 <h5>{{comment.comment}}</h5>
                                 <!-- <h6>Posted by:{{comment.username}}</h6> -->
                            {% endif %}
                            {% endfor %}
                            </div> 
                        </form>

                       
                        <div class="row">
                        <div class="col-md-4 col-sm-3 mt-5">
                            <form action="{%url 'timeline' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="post" value="{{post.id}}">
                                <button class="btn btn-danger" id="heart2" type="submit"><i
                                        class="fas fa-heart"> {{post.like}}</i>Likes</button>
                            </form>
                        </div>
                        <div class="col-md-4 col-sm-3 mt-5">
                            <button id="comment" class="btn btn-info"><i class="fas fa-comment">
                                {% for comment in comments %}
                                {% if comment.post == post.id %}
                                    {{comment.count}}
                                {% endif %}
                                {% endfor %}
                                </i>Comments
                            </button>
                            </form>
                        </div>
                    </div>
                    </div>
                  </div>
            </div>
            {% endfor %}   

            {% endfor %}    
        </div>  
        </div>
    
    {% endblock %}
    </div>
</div>