{% extends 'registration/base.html' %}
{% block content %}
<div class="container-fluid" style="background-color:rgb(0,0,0,0.7); height: 1200px;">
    <div class="row" >
                <div class="card-body">
                    <h4 class="card-title text-center" style="color: white; margin-top: 10%; font-size: 40px;" id="logo">Welcome To Instagram clone</h4>
                    <div class="row">
                        <div class="col-sm-1 col-md-1">
                        </div>
                        <div class="col-sm-10 col-md-10 text-center" >
                                <a href="/accounts/login" class="btn btn-outline-info" style="font-size: 20px;">Log In</a>
                            <h5 style="font-size: 20px;">Don't have an account? <a href="/accounts/register" style="color:hotpink;">Sign up</a></h5>
                        </div>
                    </div>
        </div>

    </div>
</div>
{%  endblock %}